.background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.background--blur{
    filter: blur(10px);
}
.login__shade{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}
.login__content{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 413px;
}
.input{
    width: 100%;
    height: 44px;
    font-size: 17px;
    color: $gray;
    box-sizing: border-box;
    outline: none;
    padding: 13.5px 0 13.5px 22px;
    background-color: white;
    border: solid 1px $gray;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.25);
}
.login__accept{
    height: 44px;
    width: 100%;
    background-color: $red;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.login__signin{
    color: white;
    text-align: center;
    font-size: 17px;
    margin-top: 14px;
    text-decoration: underline;
}